<!-- Header -->
    <header>
        <div class="container">
            <div class="intro">
                <div class="intro-head">Duy Martin Nguyen</div>
                <div class="intro-head">I am a Comp Sci Major at UCSD</div>
                <a href="#project1" class="page-scroll btn btn-xl">Projects!</a>
            </div>
        </div>
    </header>
    
    <!-- About Section -->
    <section id="project1">
        <div class="container">
            <div class="row">
				<div class ="col-xs-6 col-md-6 col-lg-6 text-center">
					<img src="img/logos/Lineup.jpg" class="img-responsive img-centered" alt="">
				</div>
				<div class ="col-xs-6 col-md-6 col-lg-6 text-center">
					<h3 class ="sectsub block-text"> I'm currently working in a startup company called Lineup as the Front-End Developer for the webapp.
				                                     We have a development team of four people, two on the marketing team, and two on the graphics team.
													 We're planning on releasing in March! So keep an eye out for us.</h3>
				</div>
            </div>
        </div>
		
    </section>

    <!-- Store Section -->
    <section id="project2">
    </section>

    <!-- Divisions Section -->
    <section id="project3">
    </section>
	
    <!-- Sponsors Section -->
	<section id="project4" >
    </section>
    
    <!-- Team Section -->
    <section id="project5">
    </section>
