<!-- Header -->
    <header>
        <div class="container">
            <div class="intro">
                <div class="intro-head">Duy Martin Nguyen</div>
                <div class="intro-head">I am a Comp Sci Major at UCSD</div>
                <a href="#project1" class="page-scroll btn btn-xl">Projects!</a>
            </div>
        </div>
    </header>
    
    <!-- About Section -->
    <section id="project1">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>

    <!-- Store Section -->
    <section id="project2">
    </section>

    <!-- Divisions Section -->
    <section id="project3">
    </section>
	
    <!-- Sponsors Section -->
	<section id="project4" >
    </section>
    
    <!-- Team Section -->
    <section id="project5">
    </section>
